@font-face {
    font-family: 'Neris-B;
src: url('Neris-Black-webfont.eot');
    src: url('Neris-Black-webfont.eot?#iefix') format('embedded-opentype'),
    url('Neris-Black-webfont.woff') format('woff'),
    url('Neris-Black-webfont.ttf') format('truetype'),
    url('Neris-Black-webfont.svg#nerisblack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Neris-Light';
    src: url('Neris-Light-webfont.eot');
    src: url('Neris-Light-webfont.eot?#iefix') format('embedded-opentype'),
    url('Neris-Light-webfont.woff') format('woff'),
    url('Neris-Light-webfont.ttf') format('truetype'),
    url('Neris-Light-webfont.svg#nerislight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Neris-Semibold';
    src: url('Neris-SemiBold-webfont.eot');
    src: url('Neris-SemiBold-webfont.eot?#iefix') format('embedded-opentype'),
    url('Neris-SemiBold-webfont.woff') format('woff'),
    url('Neris-SemiBold-webfont.ttf') format('truetype'),
    url('Neris-SemiBold-webfont.svg#nerissemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Neris-Thin';
    src: url('Neris-Thin-webfont.eot');
    src: url('Neris-Thin-webfont.eot?#iefix') format('embedded-opentype'),
    url('Neris-Thin-webfont.woff') format('woff'),
    url('Neris-Thin-webfont.ttf') format('truetype'),
    url('Neris-Thin-webfont.svg#neristhin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Neris-Thin-Italic';
    src: url('Neris-ThinItalic-webfont.eot');
    src: url('Neris-ThinItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Neris-ThinItalic-webfont.woff') format('woff'),
         url('Neris-ThinItalic-webfont.ttf') format('truetype'),
         url('Neris-ThinItalic-webfont.svg#neristhin_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}



